<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(orders.length > 0)  { %>
            <ul>
                <% orders.forEach(order => { %>
                    <li>
                        <h1># <%= order._id %></h1>
                        <ul>
                            <% order.items.forEach(prod => { %>
                                <li># <%= prod.title %> (<%= prod.quantity%>)</li>
                            <% }) %>
                        </ul>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>Nothing is there.</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
